#container {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    writing-mode: horizontal-tb;
    overflow:hidden
}

#title {
    display: grid;
    place-self: left;
    position: absolute;
    top: 150px;
    left: 90px;
    font-size:larger;
}

#description {
    display: grid;
    place-self: left;
    position: relative;
}

#button-row {
    display: grid;
    position: absolute;
    place-items: left;
    top: 200px;
}

#assignee {
    display:grid;
    position: absolute;
    left: 800px;
    top: 200px;

}

#assigned {
    display: grid;
    position: absolute;
    left: 900px;
    top: 200px;
}

#project-image {
    display: grid;
    position: absolute;
    height:50px;
    width: 50px;
    background-color: #bbb;
    left: 25px;
    top: 130px;
}

#comments-area {
    display: grid;
    position: absolute;
    bottom: 100px;
}


